.profile {
   display: block;
}

.banner {
    height: 10em;
    width: 100%;
    background: lightskyblue;
    border: 0.5px solid gray;
    border-radius: 1px;

}

.avatar-profile {
    height: 10em;
    width: 10.5em;
    margin-top: 5.5em;
    padding-left: 1em;
}

.bio {
    height: 10em;
    background: #171717;
    border: 0.5px solid gray;
    border-radius: 1px;
}

.top-container {
    display: block;
}

h2 {
    margin-top: 3.5em;
    margin-left: 0.5em;
}

p {
    color: gray;
    margin-left: 0.7em;
}